In [9]:
var myName = "James Kocher"

myName: String = James Kocher

In [10]:
5+13/6-14*33

res1: Int = -455

In [11]:
val integ = 1
var vari = 1

integ: Int = 1
vari: Int = 1

In [13]:
//integ = integ + 1
vari = vari + 1

<console>: 27: error: reassignment to val

In [4]:
integ.

<console>:  error: incomplete input

In [14]:
"5 + 4 = " + (5+4)

res2: String = 5 + 4 = 9

In [15]:
import scala.math._

import scala.math._

In [16]:
Pi

res3: Double = 3.141592653589793

In [17]:
myName == "James Kocher"

res4: Boolean = true

In [18]:
res4

res5: Boolean = true

In [19]:
val myAge = 25

myAge: Int = 25

In [20]:
val canVote = if(myAge > 18) "yes" else "no"

canVote: String = yes

In [21]:
println(f"Hello $myName, you are $myAge, and your name is " + myName.length + " characters long")

Hello James Kocher, you are 25, and your name is 12 characters long

In [ ]:
//Show program written to display
/* functions
if
user input
for loops
*/

In [22]:
val oneToTwenty = new Array[Int](20)

oneToTwenty: Array[Int] = Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [23]:
for (x <- 0 to (oneToTwenty.length-1)){
    oneToTwenty(x) = x +1
}

In [24]:
oneToTwenty

res8: Array[Int] = Array(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [36]:
oneToTwenty.foreach(println)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [25]:
print("sum = " +oneToTwenty.sum+ " , ")
print("max = "+ oneToTwenty.max+" , ")
print("min = "+ oneToTwenty.min)

sum = 210 , max = 20 , min = 1

In [26]:
val sortedNumbs = oneToTwenty.sortWith(_>_)

sortedNumbs: Array[Int] = Array(20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [14]:
var multTable = Array.ofDim[Int](10,10)

multTable: Array[Array[Int]] = Array(Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0), Array(0, 0, 0, 0, 0, 0, 0, 0, 0, 0))

In [15]:
for (i <- 0 to 9){
	for (j<- 0 to 9){
		multTable(i)(j) = i * j}}

for (i <- 0 to 9){
	for (j<- 0 to 9){
		printf("%d : %d = %d \n",i,j,multTable(i)(j))}}

0 : 0 = 0
0 : 1 = 0
0 : 2 = 0
0 : 3 = 0
0 : 4 = 0
0 : 5 = 0
0 : 6 = 0
0 : 7 = 0
0 : 8 = 0
0 : 9 = 0
1 : 0 = 0
1 : 1 = 1
1 : 2 = 2
1 : 3 = 3
1 : 4 = 4
1 : 5 = 5
1 : 6 = 6
1 : 7 = 7
1 : 8 = 8
1 : 9 = 9
2 : 0 = 0
2 : 1 = 2
2 : 2 = 4
2 : 3 = 6
2 : 4 = 8
2 : 5 = 10
2 : 6 = 12
2 : 7 = 14
2 : 8 = 16
2 : 9 = 18
3 : 0 = 0
3 : 1 = 3
3 : 2 = 6
3 : 3 = 9
3 : 4 = 12
3 : 5 = 15
3 : 6 = 18
3 : 7 = 21
3 : 8 = 24
3 : 9 = 27
4 : 0 = 0
4 : 1 = 4
4 : 2 = 8
4 : 3 = 12
4 : 4 = 16
4 : 5 = 20
4 : 6 = 24
4 : 7 = 28
4 : 8 = 32
4 : 9 = 36
5 : 0 = 0
5 : 1 = 5
5 : 2 = 10
5 : 3 = 15
5 : 4 = 20
5 : 5 = 25
5 : 6 = 30
5 : 7 = 35
5 : 8 = 40
5 : 9 = 45
6 : 0 = 0
6 : 1 = 6
6 : 2 = 12
6 : 3 = 18
6 : 4 = 24
6 : 5 = 30
6 : 6 = 36
6 : 7 = 42
6 : 8 = 48
6 : 9 = 54
7 : 0 = 0
7 : 1 = 7
7 : 2 = 14
7 : 3 = 21
7 : 4 = 28
7 : 5 = 35
7 : 6 = 42
7 : 7 = 49
7 : 8 = 56
7 : 9 = 63
8 : 0 = 0
8 : 1 = 8
8 : 2 = 16
8 : 3 = 24
8 : 4 = 32
8 : 5 = 40
8 : 6 = 48
8 : 7 = 56
8 : 8 = 64
8 : 9 = 72
9 : 0 = 0
9 : 1 = 9
9 : 2 = 18
9 : 3 = 27
9 : 4 = 36
9 : 5 = 45
9 : 6 = 54
9 : 7 = 63
9 : 8 = 72
9 : 9 = 81

In [41]:
val students = collection.mutable.Map(1 -> "Amit", 2 -> "Apoorva", 3 -> "Chris", 4 -> "James", 5 -> "JT", 6 -> "Maleda", 7 -> "Norton", 8 -> "Preeti", 9 -> "Rich")

students: scala.collection.mutable.Map[Int,String] = Map(8 -> Preeti, 2 -> Apoorva, 5 -> JT, 4 -> James, 7 -> Norton, 1 -> Amit, 9 -> Rich, 3 -> Chris, 6 -> Maleda)

In [44]:
for ((k,v) <- students){
    printf("%d : %s\n", k, v)
}

8 : Preeti
2 : Apoorva
5 : JT
4 : James
7 : Norton
1 : Amit
9 : Rich
3 : Chris
6 : Maleda

In [28]:
class Bird (var name: String, var home : String){
    this.name = name
    this.home = home

}

defined class Bird

In [29]:
val Heron = new Bird("Heron", "Everywhere")

Heron: Bird = Bird@3e176cff

In [30]:
Heron.name

res10: String = Heron

In [31]:
Heron.home

res11: String = Everywhere